# Node.js
node_modules/

# TypeScript
*.tsbuildinfo

# Build output
lib/
out/
*.js
*.js.map
!jest.config.js
# Editor-specific files
.vscode/
.idea/

# Dependency directories
jspm_packages/
bower_components/

coverage/

# TypeScript cache
*.tsbuildinfo

# Miscellaneous
.DS_Store
Thumbs.db
src/tests/*.ts
src/*
!dist/index.js
!dist/index.d.ts
dist/tests/*
dist/example.*
.github
