# Node.js
node_modules/

# TypeScript
*.tsbuildinfo

# Source files
src/

# Editor-specific files
.vscode/
.idea/

# Dependency directories
jspm_packages/
bower_components/

# Coverage
coverage/

# Miscellaneous
.DS_Store
Thumbs.db
.github
jest.config.js
tsconfig.json
pnpm-lock.yaml

# Exclude tests and example from dist
dist/tests/
dist/example.*
