name: build
on:
  push:
    branches:
      - main
    tags:
      - '!*'
    paths:
      - src/**
      - '*.json'
      - 'package-lock.json'
      - '.github/workflows/*'
  pull_request:
    paths:
      - '!*.MD'
jobs:
  test:
    strategy:
      matrix:
        platform: [ ubuntu-latest, macos-latest ]
        node: [ 'lts/*', 'latest' ]
    name: test/node ${{ matrix.node }}/${{ matrix.platform }}
    runs-on: ${{ matrix.platform }}
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node }}
    - run: npm install
    - run: npm run build
    - run: npm run test
